/* CSS Document */
body#void 
{
	background-image: url("../voidwalker.jpg");
	background-color: #1F1F1F;
	background-repeat: no-repeat;
    background-position: right;
	background-attachment: fixed;
	font-family: "Impact", sans-serif;
}

body#sun
{
	background-image: url("../sunbreaker.jpg");
	background-color: #1F1F1F;
	background-repeat: no-repeat;
    background-position: right;
	background-attachment: fixed;
	font-family: "Impact", sans-serif;
}

body#strike
{
	background-image: url("../striker.jpg");
	background-color: #1F1F1F;
	background-repeat: no-repeat;
    background-position: right;
	background-attachment: fixed;
	font-family: "Impact", sans-serif;
}

body#storm 
{
	background-image: url("../stormcaller.jpg");
	background-color: #1F1F1F;
	background-repeat: no-repeat;
    background-position: right;
	background-attachment: fixed;
	font-family: "Impact", sans-serif;
}

body#sen 
{
	background-image: url("../sentinel.jpg");
	background-color: #1F1F1F;
	background-repeat: no-repeat;
    background-position: right;
	background-attachment: fixed;
	font-family: "Impact", sans-serif;
}

body#night 
{
	background-image: url("../nightstalker.jpg");
	background-color: #1F1F1F;
	background-repeat: no-repeat;
    background-position: right;
	background-attachment: fixed;
	font-family: "Impact", sans-serif;
}

body#gun 
{
	background-image: url("../gunslinger.jpg");
	background-color: #1F1F1F;
	background-repeat: no-repeat;
    background-position: right;
	background-attachment: fixed;
	font-family: "Impact", sans-serif;
}

body#dawn 
{
	background-image: url("../dawnblade.jpg");
	background-color: #1F1F1F;
	background-repeat: no-repeat;
    background-position: right;
	background-attachment: fixed;
	font-family: "Impact", sans-serif;
}

body#arcstride 
{
	background-image: url("../arcstrider.jpg");
	background-color: #1F1F1F;
	background-repeat: no-repeat;
    background-position: right;
	background-attachment: fixed;
	font-family: "Impact", sans-serif;
}

p#arc1
{
	color: darkcyan; 
	font-size: 50px;
	left: 650px;
	text-align: center;
	position: absolute;
	font-family: bahnschrift;
}


p1#arc2
{
	color: darkcyan;	
	font-size: 30px;
	text-align: center;
	left: 545px;
	top: 110px;
	position: absolute;
	font-family: bahnschrift;
	font-style: italic;
}

p2#arc3
{
	color: white;
	font-size: 30px;
	text-align: left;
	left: 355px;
	top:200px;
	position: absolute;
	font-family: bahnschrift;
}

p#solar1
{
	color:orangered; 
	font-size: 50px;
	left: 650px;
	text-align: center;
	position: absolute;
	font-family: bahnschrift;
}


p1#solar2
{
	color: orangered;	
	font-size: 30px;
	text-align: center;
	left: 545px;
	top: 110px;
	position: absolute;
	font-family: bahnschrift;
	font-style: italic;
}

p2#solar3
{
	color: white;
	font-size: 30px;
	text-align: left;
	left: 355px;
	top:200px;
	position: absolute;
	font-family: bahnschrift;
}

p#void1
{
	color: purple; 
	font-size: 50px;
	left: 650px;
	text-align: center;
	position: absolute;
	font-family: bahnschrift;
}


p1#void2
{
	color: purple;	
	font-size: 30px;
	text-align: center;
	left: 545px;
	top: 110px;
	position: absolute;
	font-family: bahnschrift;
	font-style: italic;
}

p2#void3
{
	color: white;
	font-size: 30px;
	text-align: left;
	left: 355px;
	top:200px;
	position: absolute;
	font-family: bahnschrift;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
	
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .dropdown-btn:hover, .dropdown-btn2:hover{
  cursor: pointer;
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.dropdown-container2 {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}