.ghLogo
{
    float: right;
    width: 3rem;   
}

.selfImage{
    width: 18rem;
    float: left;
    padding-right: 2rem;
    padding-left: 1rem;
}

#name{
    border-bottom: 1px solid black;
    font-size: 3rem;
    color: #1d2029
}

body{
    background-color: #5b5b87;
    font-family: 'Ubuntu', sans-serif;
}

#bio{
    max-width: 75em;
    color: #1d2029;
    word-wrap: break-word;
    font-size: 1.25em;
}

a:link{
    color: #58a4b0; 
}

a:visited, a:hover{
    color: #b00000;
}

a:active{
    text-decoration: underline;
    color: #5b5b87;
}

hr{
    border: 1px solid black;
}
